footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  color: #F7F7F7;
	opacity: 0.8;
}

footer p,
footer a {
  font-size: 1.4rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
  transition: 0.3s ease all;
  color: #212529;
}
